*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

button{
    all: unset;
}
.container{
    /* min-height: 85vh; */
    /* width: 85%; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 10px 30px;
}

nav a{
    color: gray;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;

}

a{
    text-decoration: none;
}

nav button, main button, footer button{
    background: linear-gradient(to right,#31D167, #2BB8D4);
    padding: 5px 14px;
    color: white;
    border-radius: 50px;
}

.toogler{
    display: none;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #f3f4f6;
    align-items: flex;
}

main .container{
    width: 45%;
}

main img{
     width: 40%;
}

main h1{
    font-size: 55px;
    font-weight: 500;
}

main p{
    font-size: 20px;
    margin: 20px 0px;
}

#banking{
    padding: 30px 0;
}

#banking .banking h1{
    font-size: 40px;
    margin: 20px 50px;
}

#banking .banking p{
    width: 40%;
    margin-left: 50px;
}

#banking .text, #article .articles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 50px 50px;
}

#banking .texts h1{
    font-size: 18px;
    margin: 40px 0px;
}

#banking .texts p{
    font-size: 18px;
    margin: 40px 0;
    font-weight: 100;
    line-height: 1.7;
}

#article {
    margin-top: 30px;
    background-color: #f3f4f6;
    padding: 30px 0;
}

#article .article h1{
    font-size: 30px;
    color: gray;
    margin: 0 50px;
    font-weight: 400;
}

.articles .art img{
    width: 100%;
   
}
.articles .art{
    box-shadow: 5px 5px 12px gray;
}

.articles .head{
    padding: 20px;
}
.articles .head a{
    margin: 10px 0;
    display: block;
    color: #000000;
    font-size: 14px;
}

.articles .head a:hover{
    color: #31D167;
}

.articles .head p{
    font-size: 14px;
}

footer{
    background-color: #2d314d;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}

footer .foot1{
    display: flex;
    flex-direction: column;
}

footer .foot1 a{
    display: inline;
    margin: 0 10px;
}

footer .foot2{
    display: flex;
    align-items: center;
    gap: 150px;
}

footer a, footer p {
    color: #fff;
    display: block;
    margin-top: 16px;
}

footer ul{
    list-style: none;
}

footer img{
    filter: invert(0.3);
    margin-bottom: 10px;

}

@media screen and (max-width: 992px) {
    main h1{
        font-size: 40px;
    }
    main p{
        font-size: 18px;
    }

    main img{
        width: 45%;
    }

    #banking .texts p{
        font-size: 16px;
        line-height: 1.5;
        margin: 20px 0;
    }

    #banking .texts h1{
        margin: 10px 0;
    }

    .articles .head h4{
        font-size: 14px;
    }

    #banking .text, #article .articles{
        gap: 20px;
    }

    footer .foot2{
        gap: 80px;
    }
    
}

@media screen and (max-width:768px) {
    main h1{
        font-size: 30px;
    }

    main p{
        font-size: 16px;

    }
    #banking .banking p{
        width: 60%;
    }

    #banking .text, #article .articles{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    
}


@media screen and (max-width:576px) {
    nav button{
        display: none;
    }

    main{
        flex-direction: column-reverse;

    }
    main img, main .container{
        width: 90%;
        text-align: center;
    }

    #banking .banking h1{
        font-size: 20px;
        text-align: center;
    }

    #banking .banking p{
        width: 80%;
        text-align: center;
    }

    #banking .text, #article .articles{
        grid-template-columns: 1fr;
    }

    #banking .texts {
        text-align: center;
    }

    .toogler{
        display: block;
    }

    .ri-close-circle-fill{
        display: none;
    }

    nav ul{
        position: fixed;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px gray;
        top: -35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 1.5em;
        transition: .5s;
        text-align: center;
    }
    

}
 